/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content, 
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .subtitle{
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 30px;
    position: relative;
    text-align: center;
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    padding: 15px 0;
    background: #ff5722;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #ff5722;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
    color: #fff;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #ff5722;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #ff5722;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .skills .skills-content .right img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    .skills .skills-content .right{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
@media (max-width: 360px) {
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }
    .skills .skills-content .right img{
        height: 300px;
        width: 300px;
    }
}
@media (max-width: 305px) {
    .about .about-content .left img{
        height: 250px;
        width: 250px;
    }
    .skills .skills-content .right img{
        height: 250px;
        width: 250px;
    }
}

/*
===========================================
                    CARDS
===========================================

*/
/*
design produtos{
    
}
*/
#card-pedidos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: calc(33% - 20px);
    margin-right: 1%;
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card .content{
    width: 100%;
    height: 150px;
}
.card .product-name{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    float: left;
    margin: auto 10px;
}
.card .price{
    float:right;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: auto 15px;
}
.card .product-description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin: 10px;
    height: 60px;

    display: -webkit-box;
    -webkit-line-clamp: 3; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card a{
    font-family: 'Poppins', sans-serif;
    background: #ff5722;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    margin: 0 10px;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff5722;
    transition: all 0.3s ease;
}
.card a:hover{
    background: none;
    color: #ff5722;
    transition: color 0.3s ease;
}


@media (max-width: 952px){
    .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}
@media (max-width: 500px){
    .card{
        width: 100%;
    }
}
